.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

main {
  display: flex;
  flex: 1;
}

.navbar {
  background-color: #007bff;
  background-image: url('public/images/serphika-background.jpg');
  background-size:cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-position:top; /* Centra la imagen */
  background-position-y: -200px;
  background-repeat: no-repeat;
  padding: 150px;
}

.principal {
  flex: 1;
  padding: 10px;
}

.aside {
  flex-basis: 250px;
  padding: 10px;
}

.footer {
  margin-top: auto;
}
